body {
  font-family: "Open Sans", sans-serif;  
  margin: 0px;
  padding: 10px;
  font-size: 20pt;
  width: 100vw;
  box-sizing: border-box;
}

h2 {
  margin: 0.3em 0em;
}

.topGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(100px, .1fr) 0.9fr;
  grid-template-areas: 
    "header header"
    "sidebar content"
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  align-self: stretch;
  justify-self: stretch;
  min-height: 0; /* Or overflow: hidden; */
}

#exampleOneRoot {
  height: 400px;
}

#exampleTwoRoot {

}

.list {
  width: calc(100% - 100px);
  height: 100%;
  overflow-y: auto;
}

.listElement {
  width: 100%;
  background: #FFF;
}

.listEven {
  background: #FFF;
}

.listOdd {
  background: #CCC;
}